:root{
    --primary : #1f77a6;
    --secondary: #376691;
    --tertiary: hsl(201, 57%, 31%);
    --green: #074735;
    --light-green: #1d5c4f;
    --text-dark: #04120E;
    --text-light: #0B1D00 ;
    --heading-font :'PT Sans', sans-serif;
    --body-font : 'Montserrat', sans-serif;
}
/* Default styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    font-size: 0.875rem;
    min-height: 100vh;
    background-color: #f5f5f5;
    color: var(--text-dark);
}
header{
    padding: 1rem 0;
}
h1,h2,h3{
    font-family: var(--heading-font);
    font-weight: 900;
}
h1{
    font-size: 1.75rem;
    padding: 1.5rem 0;
    text-align: center;
}
h2{
    font-size: 1.5rem;
    padding: 1.5rem 0;
}
h3{
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
}
.heart{
    font-size: 1.125rem;
    color: #ff0000;
}
a{
    text-decoration: none;
    color: var(--primary);
}
a:hover{
    color: var(--green);
}
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
}
/* Responsive Grid Layout */
.col-md-2{
    display: grid;
    grid-template-columns: repeat(2 , minmax(0, 1fr));
}
@media (max-width: 640px) { 
    .col-md-2{
        grid-template-columns: 1fr;
    }
}
/* Layout content styles */
.logo{
    width: 4rem;
    height: 4rem;
    margin: 0 1.5rem;
}
.avatar-icon{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin: 0 1rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.avatar-icon:hover{
    -webkit-box-shadow: 0px 0px 10px 0px var(--primary); 
    box-shadow: 0px 0px 10px 0px var(--primary);
}
.intro-text{
    font-size: 1.125rem;
    font-style: italic;
    text-align: center;
}
.bg-picture{
    position: relative;
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.picture-credits{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
}
.main__section{
    padding: 1.5rem 2rem;
}
.quote{
    font-size: 1.125rem;
    font-style: italic;
    background-color: var(--primary);
    color: #ffffff;
    padding: 1rem 2rem;
    margin: 2rem 0;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
/* Snippet demos */
.snippets{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}
.snippet-container {
    margin: 0 1.5rem 0 0;
    position: relative;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.snippet-container:hover{
    box-shadow: none;
}
.snippet-demo{
    border: 1px solid var(--light-green);
    width: 15rem;
    height: 15rem;
    object-fit: contain;
    cursor: pointer;
}
.snippet-overlay{
    background-color: var(--tertiary);
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.25s;
    z-index: 1;
} 
.snippet-overlay:hover{
    opacity: 1;
    cursor: pointer;
}
.overlay-link{
    border-radius: 50px;
    margin: 1rem 0;
    display: block;
    padding: 0.5rem 2rem;
    color: white;
    transition: transform 0.3s;
}
.overlay-link:hover{
    color: var(--text-light);
}
.primary-link{
    border: 2px solid var(--green);
    background-color: var(--light-green);
}
.secondary-link{
    border: 2px solid var(--green);
    background-color: var(--primary);
}
.secondary-link:hover{
    background-color: var(--primary);
}
.overlay-link:hover{
    transform: scale(1.10, 1.10);
}
/* Button syles */
.button{
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: 800;
    margin: 1rem 1rem 1rem 0;
}
.button-primary{
    background-color: var(--primary);
    color: #fafafa;
    border: 1px solid var(--primary);
}
.button-primary:hover{
    background-color: var(--green);
    color: #ffffff;
}
.button-secondary{
    color: var(--secondary);
    border: 1px solid var(--secondary);
}
.button-secondary:hover{
    background-color: var(--green);
    color: #fafafa;
}
/* Utilites */
.d-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-self-start{
    justify-self: flex-start;
}
.justify-end{
    justify-content: end;
}
.align-center{
    align-items: center;
}
.align-around{
    align-items: space-around;
}
.m-auto{
    margin: auto;
}